.rdp {
    width: 300px;
   max-width: 320px;
  overflow: hidden;
  margin: 0 auto;

  --rdp-accent-color: #4545FE;

  color: #969696;
font-size: 11px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


  .rdp-weeknumber, .rdp-day {
    display: flex;
    overflow: hidden;
    justify-content: center;
    box-sizing: border-box;
    width: var(--rdp-cell-size);
    max-width: var(--rdp-cell-size);
    height: var(--rdp-cell-size);
    margin: 0;
    border: none
}

.rdp-head_cell {
  border: 1px solid white;
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: #3D3D3D;
}



.rdp-cell {
  border: 1px solid white;
  /* padding: 1px 11px 25px 11px; */
  height: 75px;
}



@media (max-width: 600px) {
  .rdp {
    max-width: 100%;
    margin: 0 auto;
  }

  .rdp-cell {
    /* padding: 1px 2px 10px 2px; */
    height: 30px;
  }
}